.splash-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

body {
    font-family: 'Staatliches', cursive;
}
.logout-btn {
    font-size: 1rem;
    font-family: 'Staatliches', cursive;
}

.full-footer {
    display:none; 
}


.splash-header {
    font-size: 4rem; 
    display: flex; 
}

.green {
    color: #50AD55; 
}

.splash-img {
    width: 100%; 
    margin-top: 1rem; 
}

#slider {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    overflow: hidden; 
}

#slider figure {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    position: relative; 
    width: 100%; 
    margin:0;  
    left: 0; 
    animation: 25s slider infinite; 
}
.full-screen-image {
    display: none; 
}
.full-nav {
    display: none; 
}
.full-screen-para {
    display: none; 
}
.nav-main-header {
    display:none;
}
.full-screen-design {
    display: none; 
}
.splash-statement {
    display: none; 
}
.splash-full-btn {
    display: none;
}

@keyframes slider {
    0% {
        left: 0; 
    }
    20% {
        left: 0; 
    }
    25% {
        left: -100%; 
    }
    45% {
        left: -100%; 
    }
    50% {
        left: -200%; 
    }
    70% {
        left: -200%; 
    }
    75% {
        left: -300%; 
    }
    85% {
        left: -300%
    }
    95% {
        left: -400%
    }
    100% {
        left: -400%;
    }
}

@media screen and (max-width: 320px) {
    .splash-header {
        font-size: 3rem; 
        display: flex; 
    }
    .nav-main-header {
        display:none;
    }
    .full-footer {
        display:none; 
    }   
    .splash-img {
        width: 100%; 
        margin-top: 1rem; 
    }
    .full-screen-image {
        display: none; 
    }
    .full-nav {
        display: none; 
    }
    .full-screen-para {
        display: none; 
    }
    .full-screen-design {
        display: none; 
    }
    .splash-statement {
        display: none; 
    }
    .splash-full-btn {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .splash-img {
        height: 30rem; 
        min-width: 100%; 
        margin-top: 1rem; 
    }
    .nav-main-header {
        display:none;
    }
    .full-footer {
        display:none; 
    }
    .splash-header {
        font-size: 6rem; 
        display: flex; 
    }
    .full-screen-image {
        display: none; 
    }
    .full-nav {
        display: none; 
    }
    .full-screen-para {
        display: none; 
    }
    .full-screen-design {
        display: none; 
    }
    .splash-statement {
        display: none; 
    }
    .splash-full-btn {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .splash-img {
        height: 34rem; 
        min-width: 100%; 
        margin-top: 1rem; 
    }
    .nav-main-header {
        display:none;
    }
    .full-footer {
        display:none; 
    }

    .full-nav {
        display: none; 
    }
    .splash-header {
        font-size: 7.5rem; 
        display: flex; 
    }
    .full-screen-image {
        display: none; 
    }
    .full-screen-para {
        display: none; 
    }
    .full-screen-design {
        display: none; 
    }
    .splash-statement {
        display: none; 
    }
    .splash-full-btn {
        display: none;
    }
}

@media screen and (min-width: 1359px) {
    .splash-img {
        height: 47rem; 
        min-width: 100%; 
        margin-top: 1rem;         
    }
    .full-nav {
        display: initial; 
        width: 100%; 
    }
    .full-footer {
        display:initial; 
        width: 100%; 
    }
    #slider {
        display: none; 
    }
    .fullsize-header {
        display: none; 
        flex-direction: row; 
    }
    .splash-header {
        font-size: 4rem; 
        display: flex; 
    }
    .fullsize-header-flex {
        display: flex; 
        flex-direction: column; 
        margin-left: 35rem; 
    }
    .full-screen-image{
        display: initial; 
        margin-top: 0rem;
        margin-left: 4rem;  
    }
    .body-flex {
        display: flex; 
        padding: 1rem; 
        margin-left: 0rem; 
        width: 100%; 
        border-top: 0px solid #000; 
        background-color: #50AD55; 
        border-bottom: 0px solid #000; 
    }
    .full-screen-para{
        display: initial; 
        margin-top: 0rem; 
        margin-left: 5rem; 
        width: 30rem; 
        padding: 1rem; 
    }
    .google-fullscreen-login-btn {
        display: none; 
    }
    .nav-main-header {
        display:initial;
        display: flex; 
        margin-top: 6rem; 
        font-size: 5rem; 
        text-align: center; 
    }
    .full-screen-section {
        display: flex; 
    }

    .full-screen-design {
        display: initial; 
        text-align: center; 
        border-top: 0px solid black; 
        border-top: 0px solid black;
        width: 100%; 
        border-radius: .3rem; 
        margin-top: 4rem; 
        background-color: #50AD55; 
        background-size: cover; 
    }
    .splash-statement {
        display: initial; 
    }
    .splash-full-btn {
        display: initial; 
        border: 0rem solid #000; 
        border-radius: .3rem;  
        font-size: 1.2rem; 
        padding: 1.3rem; 
        margin: 3rem 0rem; 
        background-color: #D0262A; 
        color: #fff; 
        font-family: 'Staatliches', cursive;
        outline: none; 
    }
    .margin-body {
        margin-left: 11rem; 
    }
}