.search-container {
    margin-top: 3rem;
    margin-bottom: .5rem; 
    margin-left: .5rem;  
    border: .1rem solid black; 
    border-radius: .3rem; 
    font-size: 1rem; 
    padding: .8rem; 
    width: 88%; 
    font-family: 'Staatliches', cursive;
    outline: none; 
}

.search-input {
    font-size: 1.2rem;  
    width: 20rem; 
    height: 1rem; 
    font-family: 'Staatliches', cursive;
    outline: none; 
}

.search-header-input {
    margin-bottom: 1rem; 
}

@media screen and (max-width: 320px) {
    .search-container {
        width: 90%; 
        font-size: 1rem; 
        margin-top: 1.7rem; 
        margin-left: 1rem; 
    }
}

@media screen and (min-width: 414px) {
     margin-top: 6rem; 
}

@media screen and (min-width: 768px) {

    .search-container {
       margin-top: 5.5rem; 
       width: 94%; 
    }
}

@media screen and (min-width: 1024px) {
    .search-container {
        margin-top: 7rem; 
        width: 94%; 
     }
    .search-input {
        font-size: 2rem; 
        height: 3rem; 
    }
}

@media screen and (min-width: 1359px) {
.search-container {
    display: none; 
}
}
