.forms {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 2rem; 
}

.vegan-logo {
    margin-left: 9.8rem; 
}

.login-container {
    margin-top: 2rem; 
}

.login-main-header {
    text-align: center; 
}
.login-header {
    text-align: center; 
}

.signup-link {
    color: #7078DB; 
    text-decoration: none; 
}

.signup-link:visited {
    color: #7078DB; 
}

.login-email {
    border: .1rem solid black; 
    border-radius: .3rem; 
    font-size: 1rem; 
    padding: 1rem; 
    width: 50%; 
    font-family: 'Staatliches', cursive;
    outline: none; 
}

.login-password {
    border: .1rem solid black; 
    border-radius: .3rem; 
    font-size: 1rem; 
    padding: 1rem; 
    width: 50%; 
    margin-top: 1rem;
    font-family: 'Staatliches', cursive;
    outline: none; 
}

.login-btn {
    border: 0rem solid black; 
    border-radius: .3rem; 
    background-color: #D0262A; 
    font-size: 1.3rem; 
    color: #fff; 
    padding: 1rem; 
    width: 50%; 
    margin-top: .5rem; 
    font-family: 'Staatliches', cursive;
    outline: none; 
}

@media screen and (max-width: 320px) {
    .vegan-logo {
        margin-left: 8rem;
    }
}

@media screen and (min-width: 414px) {
    .vegan-logo {
        margin-left: 11rem;
    }
}
@media screen and (min-width: 768px) {
    .vegan-logo {
        margin-left: 22.2rem;
        margin-bottom: 2rem; 
    }
    .login-container {
        margin-top: 14rem; 
    }

    .login-main-header {
        text-align: center; 
        font-size: 1.5rem; 
    }

    .login-main-header {
        text-align: center; 
        font-size: 2.5rem; 
    }
    .login-header {
        text-align: center; 
        font-size: 1.5rem; 
    }

    .signup-link {
        color: #7078DB; 
        text-decoration: none; 
        font-size: 1.5rem; 
    }

    .login-btn {
        border: 0rem solid black; 
        border-radius: .3rem; 
        background-color: #D0262A; 
        font-size: 1.3rem; 
        color: #fff; 
        padding: 1rem; 
        width: 40%; 
        margin-top: .5rem; 
        font-family: 'Staatliches', cursive;
        outline: none; 
    }

    .forms {
        margin-top: 3rem; 
    }

    .login-password {
        width: 40%; 
    }

    .login-email {
        width: 40%; 
    }

}

@media screen and (min-width: 1024px) {
    .login-container {
        margin-top: 20rem; 
    }

    .vegan-logo {
        margin-left: 30.3rem;
    }

    .login-main-header {
        text-align: center; 
        font-size: 3.5rem; 
    }

    .login-header {
        text-align: center; 
        font-size: 2rem; 
    }

    .signup-link {
        color: #7078DB; 
        text-decoration: none; 
        font-size: 2rem; 
    }

    .login-btn {
        border: 0rem solid black; 
        border-radius: .3rem; 
        background-color: #D0262A; 
        font-size: 1.8rem; 
        color: #fff; 
        padding: 1rem; 
        width: 38%; 
        margin-top: .8rem; 
        font-family: 'Staatliches', cursive;
        outline: none; 
    }

    .forms {
        margin-top: 4rem; 
        font-size: 2rem; 
    }

    .login-email {
        border: .1rem solid black; 
        border-radius: .3rem; 
        font-size: 2rem; 
        padding: 1rem; 
        width: 40%; 
        font-family: 'Staatliches', cursive;
        outline: none; 
    }
    
    .login-password {
        border: .1rem solid black; 
        border-radius: .3rem; 
        font-size: 2rem; 
        padding: 1rem; 
        width: 40%; 
        margin-top: 1rem;
        font-family: 'Staatliches', cursive;
        outline: none; 
    }

}

@media screen and (min-width: 1359px) {

    .vegan-logo {
        margin-left: 41.2rem;
        margin-bottom: 3rem; 
        height: 3.3rem; 
        width: 3.3rem; 
    }

    .login-container {
        margin-top: 5rem; 
    }

    .login-main-header {
        text-align: center; 
        font-size: 1.8rem; 
        margin-bottom: 3rem; 
    }

    .login-header {
        text-align: center; 
        font-size: 1rem; 
    }

    .signup-link {
        color: #7078DB; 
        text-decoration: none; 
        font-size: 1rem; 
    }

    .login-btn {
        border: 0rem solid black; 
        border-radius: .3rem; 
        background-color: #D0262A; 
        font-size: .9rem; 
        color: #fff; 
        padding: 1rem; 
        width: 22%; 
        margin-top: .5rem; 
        font-family: 'Staatliches', cursive;
        outline: none; 
    }

    .forms {
        margin-top: 3rem; 
        font-size: 2rem; 
    }

    .login-email {
        border: .1rem solid black; 
        border-radius: .3rem; 
        font-size: 1rem; 
        padding: .5rem; 
        width: 22%; 
        font-family: 'Staatliches', cursive;
        outline: none; 
    }
    
    .login-password {
        border: .1rem solid black; 
        border-radius: .3rem; 
        font-size: 1rem; 
        padding: .5rem; 
        width: 22%; 
        margin-top: 1rem;
        font-family: 'Staatliches', cursive;
        outline: none; 
    }
}

