.edit-page-input{
    border: 1px solid #000;
    border-radius: .3rem;  
    height: 2rem; 
    width: 13rem; 
    margin: .5rem; 
    font-size: 1rem; 
    outline: none; 
}

.vendor-edit-header {
    text-align: center; 
}

.vendor-edit-submit{
    margin-left:3rem;
    width: 8rem;
    height: 3rem;  
    border: 0rem solid #000; 
    border-radius: .3rem;  
    font-size: 1rem; 
    padding: 1rem; 
    background-color: #50AD55; 
    color: #fff; 
    font-family: 'Staatliches', cursive;
    outline: none; 
}

.forms {
    margin-left: 4rem; 
}

.editpage-text {
    margin-left: 5rem; 
    margin-bottom: 0rem; 
}

.editpagename-text {
    margin-left: 4rem; 
    margin-bottom: 0rem; 
}

.editpageout-text {
    margin-left: 4rem; 
    margin-bottom: 0rem; 
}