.splash-btn {
    border: 0rem solid #000; 
    border-radius: .3rem;  
    font-size: 1.2rem; 
    padding: 1.3rem; 
    margin: 3rem 0rem; 
    background-color: #D0262A; 
    color: #fff; 
    font-family: 'Staatliches', cursive;
    outline: none; 
}

.splash-btn:hover {
    background-color: #DA5053; 
}

.splash-header-btn {
    display: none; 
}

.splash-header-btn.hover {
    background-color: #DA5053; 
}

.vender-header-login-link {
    display: none; 
}

.vender-login-link {
    font-size: 1.7rem; 
    color: #7078DB; 
    text-decoration: none; 
}

.vender-login-link:visited {
    color:#7078DB; 
}


@media screen and (min-width: 768px) {

    .splash-btn {
        border: 0rem solid #000; 
        border-radius: .3rem;  
        font-size: 2rem; 
        padding: 1.3rem; 
        margin: 2.5rem 0rem; 
        background-color: #D0262A; 
        color: #fff; 
        font-family: 'Staatliches', cursive;
        outline: none; 
    }


    .vender-login-link {
        font-size: 2rem; 
        color: #7078DB; 
        text-decoration: none; 
    }
}

@media screen and (min-width: 1024px) {

    .splash-btn {
        border: 0rem solid #000; 
        border-radius: .3rem;  
        font-size: 2.8rem; 
        padding: 1.3rem; 
        margin: 8rem 0rem; 
        background-color: #D0262A; 
        color: #fff; 
        font-family: 'Staatliches', cursive;
        outline: none; 
    }


    .vender-login-link {
        font-size: 2.7rem; 
        color: #7078DB; 
        text-decoration: none; 
    }
}

@media screen and (min-width: 1359px) {
    .splash-header-btn {
        display: initial;
        border: 0rem solid #000; 
        border-radius: .3rem;  
        font-size: 1.3rem; 
        padding: 1.3rem; 
        margin: 3rem 0rem; 
        margin-left: 4rem; 
        background-color: #D0262A; 
        color: #fff; 
        font-family: 'Staatliches', cursive;
        outline: none; 
    }


    .vender-header-login-link {
        display: initial;
        font-size: 1.5rem; 
        color: #7078DB; 
        text-decoration: none;
        margin-top: -2rem;
        margin-left: 8rem;
    }

    .splash-btn {
        display: none; 
    }

    .vender-login-link {
        display: none; 
    }
}

