footer, .footer-container {
    display: flex; 
    justify-content: space-evenly;
    bottom: 0; 
    position: fixed; 
    background-color: #F5F5F5;
    width: 100vw; 
}

.footer-flex {
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    margin-right: 2.4rem; 
}

.footer-flex li a {
    text-decoration: none;
    /* margin-left: 2rem;  */
    color: #1276B8; 
    font-size: .7rem; 
}

/* .footer-links {
    margin-right: 3rem; 
    
} */
