.forms {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 2rem; 
}

.signup-container {
    margin-top: 7rem; 
}

.signup-header {
    text-align: center; 
}

.signup-link {
    color: #7078DB; 
    text-decoration: none; 
}

.signup-link:visited {
    color: #7078DB; 
}

.signup-email {
    border: .1rem solid black; 
    border-radius: .3rem; 
    font-size: 1.3rem; 
    padding: 1rem; 
    width: 50%; 
    font-family: 'Staatliches', cursive;
    outline: none; 
}

.signup-password {
    border: .1rem solid black; 
    border-radius: .3rem; 
    font-size: 1.3rem; 
    padding: 1rem; 
    width: 50%; 
    margin-top: 1rem;
    font-family: 'Staatliches', cursive;
    outline: none; 
}

.signup-btn {
    border: 0rem solid black; 
    border-radius: .3rem; 
    background-color: #D0262A; 
    font-size: 1.3rem; 
    color: #fff; 
    padding: 1rem; 
    width: 50%; 
    margin-top: .5rem; 
    font-family: 'Staatliches', cursive;
    outline: none; 
}