#map {
    height: 50vh;
    width: 100vw;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }


  @media screen and (min-width: 1359px) {
    #map {
      margin-top: 5rem; 
    }
  }