.map-container {   
    width: 20%;
}


@media screen and (max-width: 320px) {
    .map-container {
        padding: 0; 
        margin: .5rem; 
        margin-left: .8rem; 
        width: 20%; 
    }
}
@media screen and (max-width: 1359px) {
    .map-container {
        padding: 0; 
        margin-top: 5rem; 
    }
}



